* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto';
}

.container {
	width: 250px;
	height: 250px;
	position: relative;
}

.outer {
	height: 250px;
	width: 250px;
	padding: 20px;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
		-3px -3px 10px -1px rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	margin-bottom: 5vh;
}

.inner {
	height: 210px;
	width: 210px;
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
		inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
		-0.5px -0.5px 0 rgba(255, 255, 255, 1), 0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
		0 12px 10px -10px rgba(0, 0, 0, 0.05);
	border-radius: 50%;
}

circle {
	fill: none;
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 720;
	stroke-dashoffset: 252;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	transition: stroke-dashoffset 0.5s linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

svg {
	position: absolute;
	top: 0;
	left: 0;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
	font-weight: 500;
	gap: 16px;
}

.input-block {
	display: flex;
	align-items: center;
	gap: 20px;
}

.toggle-block {
	display: flex;
	align-items: center;
	gap: 20px;
}

input[type='number'] {
	width: 60px;
	height: 30px;
	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	-moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.toggle {
	position: relative;
	width: 60px;
	height: 30px;
}

.toggle input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 25px;
	transition: 0.4s;
	height: 30px;
	width: 60px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 24px;
	width: 24px;
	left: 3px;
	bottom: 2.5px;
	background-color: white;
	border-radius: 50%;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: blue;
}

input:checked + .slider:before {
	transform: translateX(30px);
}
